# logs, cache, etc
.vscode/
.pytest_cache/
__pycache__/
wandb/
models/**
notebooks/**
cosmoenv/


# data
data/
data_dev/
dev/

# bps methods
simod/

# helpers
debug.py
pad.py
related_paper.md
cufile.log
*.ipynb
tests.py
notes.md

reproduce_paper_test.sh
scores*.csv
selected_models.csv