aiohttp==3.8.4
aiosignal==1.3.1
appdirs==1.4.4
asttokens==2.2.1
async-timeout==4.0.2
attrs==23.1.0
autorank==1.1.3
backcall==0.2.0
backports.functools-lru-cache==1.6.5
baycomp==1.0.2
BitVector==3.5.0
blinker==1.6.2
boolean.py==4.0
Brotli==1.0.9
cachetools==5.3.2
certifi==2023.7.22
cffi==1.16.0
charset-normalizer==3.1.0
click==8.1.6
clingo==5.6.2
cloudpickle==3.0.0
comm==0.1.4
contourpy==1.0.7
cryptography==41.0.3
cubinlinker-cu11==0.3.0.post1
cuda-python==11.8.3
cudf-cu11==23.10.1
cugraph-cu11==23.10.0
cuml-cu11==23.10.0
cupy-cuda11x==12.2.0
curlify==2.2.1
cvxopt==1.3.2
cycler==0.11.0
dask==2023.9.2
dask-cuda==23.10.0
dask-cudf-cu11==23.10.1
debugpy==1.6.7
declare4py==2.2.0
decorator==5.1.1
deprecation==2.1.0
distributed==2023.9.2
docker-pycreds==0.4.0
entrypoints==0.4
exceptiongroup==1.0.4
executing==1.2.0
facebook-business==16.0.2
fastrlock==0.8.2
filelock==3.9.0
Flask==2.3.2
fonttools==4.39.0
frozenlist==1.3.3
fsspec==2023.10.0
gitdb==4.0.11
GitPython==3.1.40
gmpy2==2.1.2
graphviz==0.20.1
idna==3.4
importlib-metadata==6.8.0
iniconfig==1.1.1
intervaltree==3.1.0
ipykernel==6.26.0
ipython==8.11.0
itsdangerous==2.1.2
jedi==0.18.2
Jinja2==3.1.2
joblib==1.3.2
jsonpickle==3.0.1
jupyter-client==7.3.4
jupyter_core==5.5.0
kiwisolver==1.4.4
lark==1.1.8
lark-parser==0.12.0
lempel-ziv-complexity==0.2.2
llvmlite==0.40.1
locket==1.0.0
logaut==0.2.0
ltlf2dfa==1.0.2
lxml==4.9.2
markdown-it-py==3.0.0
MarkupSafe==2.1.2
matplotlib==3.7.1
matplotlib-inline==0.1.6
mdurl==0.1.2
mkl-fft==1.3.8
mkl-random==1.2.4
mkl-service==2.4.0
mlxtend==0.23.0
mpmath==1.3.0
msgpack==1.0.7
multidict==6.0.4
nest-asyncio==1.5.8
networkx==3.0
nltk==3.8.1
numba==0.57.1
numpy==1.24.2
nvtx==0.2.8
openai==0.27.8
packaging==23.0
pandas==1.5.3
parso==0.8.3
partd==1.4.1
patsy==0.5.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.4.0
pip==23.3.1
platformdirs==4.0.0
pluggy==1.0.0
pm4py==2.7.8.2
prompt-toolkit==3.0.38
protobuf==4.25.0
psutil==5.9.0
ptxcompiler-cu11==0.7.0.post1
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==12.0.1
pycountry==22.3.5
pycparser==2.21
pydotplus==2.0.2
Pygments==2.14.0
pylibcugraph-cu11==23.10.0
pylibraft-cu11==23.10.0
pylogics==0.2.1
pynvml==11.4.1
pyOpenSSL==23.2.0
pyparsing==3.1.1
PySocks==1.7.1
pytest==7.4.0
pythomata==0.3.2
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2023.3.post1
pyvis==0.3.2
PyYAML==6.0.1
pyzmq==25.1.0
raft-dask-cu11==23.10.0
regex==2023.10.3
requests==2.31.0
rich==13.6.0
rmm-cu11==23.10.0
scikit-learn==1.3.0
scipy==1.10.1
seaborn==0.13.0
sentry-sdk==1.34.0
setproctitle==1.3.3
setuptools==68.0.0
six==1.16.0
smmap==5.0.1
sortedcontainers==2.4.0
stack-data==0.6.2
statsmodels==0.14.0
StringDist==1.0.9
sympy==1.11.1
tblib==3.0.0
threadpoolctl==3.2.0
tomli==2.0.1
toolz==0.12.0
torch==2.1.0
torchaudio==2.1.0
torchvision==0.16.0
tornado==6.1
tqdm==4.65.0
traitlets==5.9.0
treelite==3.9.1
treelite-runtime==3.9.1
triton==2.1.0
typing_extensions==4.7.1
tzdata==2023.3
ucx-py-cu11==0.34.0
urllib3==1.26.18
wandb==0.16.0
wcwidth==0.2.6
Werkzeug==2.3.6
wheel==0.41.2
yarl==1.9.2
zict==3.0.0
zipp==3.17.0
